<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
    <header>
        <a href="#logo">
            <img src="{{ url_for('static', filename='/images/todo-list-icon-notepad.png') }}" alt="Logo" height="70">
        </a>
        <div class="navicon">
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    <li class="navbar-right">Welcome, {{ user.name }}!</li>
                    {% else %}
                    <li><a href="{{ url_for('routes.home') }}">Home</a></li>
                    <li><a href="#demo">Request a Demo</a></li>
                    <li><a href="#techstack">Technology Stack</a></li>
                    <li><a href="#contact">About</a></li>
                    <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('auth.login')}}">Log In</a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>
       
    </header>

    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }}" role="alert">
                        {{ message }}
                        <button type="button" class="close">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    <script>
        document.querySelectorAll('.alert .close').forEach(button => {
            button.addEventListener('click', function() {
                this.parentElement.style.display = 'none';
            });
        });
    </script>

    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
<footer>
    <p>Never stop Organizing</p>
</footer>
</html>
