{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}


<div class="home" id="logo">
    <div class="girl-calender">
        <img src="{{ url_for('static', filename='images/bground.png') }}" alt="" width="750" height="350">
    </div>

    <div class="site-title">
        <p><h2>The best way to manage your task is to ace them!</h2></p>
    </div>

    <div class="intro">
        
        <h4>
            Todos is a task managing application that lets you manage, <br>
            organize and take charge of your task. It is easy to use with a <br>
            responsive and attractive web interface. So go ahead and own your task, <br>
            own success!
        </h4>
    </div>
</div>

<div class="demo" id="demo">
    <h2 class="demo-header">Request a Demo</h2>
    <p>Fill out the form below and we will contact you shortly.</p>
    <div class="form">
        <form>
            <label for="name">Your Name</label><br>
            <input type="text" id="name" name="name" placeholder="Your Name" required> <br>

            <label for="email">Your Email</label><br>
            <input type="email" id="email" name="email" placeholder="Your Email" required> <br>

            <label for="phone">Your Phone</label><br>
            <input type="tel" id="phone" name="phone" placeholder="Your Phone" required> <br>

            <input type="submit" value="Submit">
        </form>
    </div>
    
    <iframe width="65%" height="400px" src="https://www.youtube.com/embed/5aYpkLfkgRE?si=IY3icpsDznR-wCn_" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
</div>


<p><h2 class="stack-header" id="techstack">Technology Stack</h2></p>
<div class="stack">

    <h3><p>In building this application, we harness the following technologies</p></h3>
    <div>
        <ul class="tech">
            <li><strong>HTML/CSS/JavaScript:</strong> For designing an interactive user interface.</li>
            <li><strong>Python (Flask)/Jinja:</strong> For developing the server-side logic.</li>
            <li><strong>SQLAlchemy (SQLite):</strong> For managing the database.</li>
            <li><strong>Git/GitHub:</strong> For version control and collaboration.</li>
            <li><strong>Google Engine App:</strong> For deployment</li>
            <li><strong>Cypress:</strong> For automated testing</li>
            <li><strong>GoogleMeet/WhatsApp:</strong> For seamless and fast communication</li>
        </ul>
    </div>
</div>

<h2 class="contact-center" id="contact">about</h2>
<div class="contact">
    <img src="{{ url_for('static', filename='images/dog.jpg') }}" alt="contact-photo" class="skphoto">
    <div class="george">
        <p>Hi, my name is George Avong,<br>
            I am a studen at ALX Africa,<br>
            I am passionate about technologies and <br>
            I love to play games, listen to music and code! <br>
            You can find me @ <br>
            <span>
                <a href="https://twitter.com/Escay1"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="https://www.facebook.com/george.avong.96"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="https://www.instagram.com/george_avong/"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="https://github.com/george-avong"><ion-icon name="logo-github"></ion-icon></a>
                <a href="mailto:george.avong@gmail.com"><ion-icon name="mail"></ion-icon></a>
                <a href="https://www.linkedin.com/in/george-avong-5608a51b6/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href="https://www.stackoverflow.com/users/14366172/george-avong"><ion-icon name="logo-stack-overflow"></ion-icon></a>
                <a href="https://www.reddit.com/user/Escay1"><ion-icon name="logo-reddit"></ion-icon></a>
                <a href="https://www.twitch.tv/georgeavong"><ion-icon name="logo-twitch"></ion-icon></a>
                <a href="https://www.discord.com/users/857981791296270336"><ion-icon name="logo-discord"></ion-icon></a>

            </span>
        </p>
    </div>

    <p>
        <img src="{{ url_for('static', filename='images/cat.jpg') }}" alt="contact-photo" class="onyiphoto">
    </p>
    <div class="onyi">
        <p>Hello, I am Mrs Onyinyechi Ikediego,<br>
            I am a studen at ALX Africa,<br>
            I am passionate about technologies and <br>
            I love to play games, listen to music and code! <br>
            You can find me @ <br>
            <span>
                <a href="https://twitter.com/Escay1"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="https://www.facebook.com/george.avong.96"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="https://www.instagram.com/george_avong/"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="https://github.com/george-avong"><ion-icon name="logo-github"></ion-icon></a>
                <a href="mailto:george.avong@gmail.com"><ion-icon name="mail"></ion-icon></a>
                <a href="https://www.linkedin.com/in/george-avong-5608a51b6/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href="https://www.stackoverflow.com/users/14366172/george-avong"><ion-icon name="logo-stack-overflow"></ion-icon></a>
                <a href="https://www.reddit.com/user/Escay1"><ion-icon name="logo-reddit"></ion-icon></a>
                <a href="https://www.twitch.tv/georgeavong"><ion-icon name="logo-twitch"></ion-icon></a>
                <a href="https://www.discord.com/users/857981791296270336"><ion-icon name="logo-discord"></ion-icon></a>

            </span>
        </p>
    </div>
</div>

{% endblock %}