<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}"> -->
    <!-- <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}"> -->

    <title>{% block title %} Home {% endblock %}</title>


        {% block stylesheet %}
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
        {% endblock %}
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="images/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/fontawesome.min.css"
        integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4f6db0661c.js" crossorigin="anonymous"></script>
</head>

<body>        


    <header>
        <nav id="navbar">
        <a class="logo" id="home"
            href="{{ url_for('views.landing') }}">
            <img src="{{ url_for('static', filename='images/Todos_logo3.drawio.png') }}" alt="logo">
</a>
            <div class="nav-links">
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    {% else %}
                    <li><a href="#features">FEATURES</a></li>
                    <li><a href="#demo">DEMO</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                    <li><a href="#about-us">ABOUT US</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>
    
    
    
    
    <div class="alert-pop-up">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }}" role="alert">
            {{ message }}
            <button type="button" class="close">&times;</button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    
        <script>
            document.querySelectorAll('.alert .close').forEach(button => {
                button.addEventListener('click', function () {
                    this.parentElement.style.display = 'none';
                });
            });
        </script>
    
    </div>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
    
    <section class="footer">Never stop Organizing</section>
</body>

</html>        