{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
{% endblock %}

{% block content %}


<!--hero section -->

    <!-- <section class="header" id="header">
        <nav>
            <a class="nav-item" id="home" href="/"><img
                    src="{{ url_for('static', filename='images/Todos_logo3.drawio.png') }}" alt="logo"></a>
            <div class="nav-links">
                <i class="fa-solid fa-circle-xmark fa-xl"></i>
                <ul>
                    <li><a href="#features">FEATURES</a></li>
                    <li><a href="#demo">DEMO</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                    <li><a href="#about-us">ABOUT US</a></li>
                    <li><a class="nav-item" id="signUp" href="/sign-up">Get Started</a></li>
                </ul>
            </div>
            <i class="fa-solid fa-grid fa-2xl"></i>
        </nav>
</section> -->

    <section class="hero">
    
        <div class="text-box">
            <div class="text-content">
                <div class="text-row">
                    <h1>Organize Your Life, <br> One Task at a Time</h1>
                    <p>Achieve more with less stress using our user-friendly task manager.</p>
                    <div class="btn-container">
                        <a href="{{ url_for('auth.sign_up') }}" class="nav-item hero-btn" id="sign_up">Sign Up</a>
                        <a href="{{ url_for('auth.login') }}" class="nav-item hero-btn" id="login">Login</a>
                    </div>
                </div>
                <div class="text-row">
                    <img src="{{ url_for('static', filename='images/bground.png') }}" alt="background image">
                </div>
            </div>
        </div>
    
</section>


<!-- Video Section -->
<section class="video">
    <h2>Demo</h2>
    <p>See how it works and get started in less than 2 minutes</p>
    <video autoplay muted loop>
        <source src="{{ url_for('static', filename='images/clock_video.mp4') }}" type="video/mp4">
    </video>
</section>

<!-- Features Section -->
<section class="features">
    <h1 id="features">Key Features</h1>
    <p>Unlock the power of task management with these powerful features, designed to keep you organized and boost your
        productivity.</p>

    <div class="row">
        <div class="features-col">
            <h3>Prioritize Like a Pro</h3>
            <img src="{{ url_for('static', filename='images/priority.png') }}" alt="priority feature">
            <p>Easily prioritize your tasks with our intuitive drag-and-drop interface.</p>
        </div>
        <div class="features-col">
            <h3>Smart Task Scheduling</h3>
            <img src="{{ url_for('static', filename='images/planning.png') }}" alt="planning feature">
            <p>Schedule tasks seamlessly with calendar integration and timely reminders.</p>
        </div>
        <div class="features-col">
            <h3>Effortless Task Breakdown</h3>
            <img src="{{ url_for('static', filename='images/Task-decomposition_icon.png') }}"
                alt="task breakdown feature">
            <p>Break down complex tasks into smaller, manageable steps with our subtask feature.</p>
        </div>
    </div>
</section>

<!-- Other Sections (Who We Serve, Testimonials, Call to Action, About Us) -->
<!--who we-serve -->
<section class="we-serve">
    <h1>Who We Serve</h1>
    <p>From students to everyday individuals and students to busy professionals, our app is designed to meet the
        needs of a diverse range of users.
        We help people in various fields achieve more.</p>


    <div class="row">
        <div class="we-serve-col">
            <img src="{{ url_for('static', filename='images/busy student.jpg') }}
" alt="smiling emoji">
            <div class="layer">
                <h3>STUDENTS</h3>
            </div>
        </div>

        <div class="we-serve-col">
            <img src="{{ url_for('static', filename='images/busy housewife.jpg') }}
" alt="smiling emoji">
            <div class="layer">
                <h3>EVERYDAY INDIVIDUALS</h3>
            </div>
        </div>

        <div class="we-serve-col">
            <img src="{{ url_for('static', filename='images/busy professionals.jpg') }}
" alt="smiling emoji">
            <div class="layer">
                <h3>BUSY PROFESSIONALS</h3>
            </div>
        </div>

    </div>
    </div>

</section>

<!-- choose-us -->
<section class="choose-us">
    <h1>Why Choose Us?</h1>
    <p>Discover the key benefits that have made thousands of users worldwide trust us for their day-to-day tasks:
    </p>

    <div class="row">
        <div>
            <img src="{{ url_for('static', filename='images/tick_off.jpg') }}
" alt="orange">
            <h3>Increased Productivity</h3>
            <p>Accomplish more in less time with <br>our intuitive task management features. <br> Stay organized and
                focus on what
                matters.</p>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/time management.jpg') }}
" alt="orange">
            <h3>Better Time Management</h3>
            <p>Stay on top of your schedule with smart <br>tools that help you plan efficiently.</p>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/relaxing.jpg') }}" alt="orange">
            <h3>Reduced Stress</h3>
            <p>Simplify your tasks and enjoy peace of mind <br> knowing that everything is under control.</p>
        </div>
    </div>
</section>



<!-- Testimonials -->
<section class="testimonials">
    <h1>What Our Users Says</h1>
    <p>Lorem ipsum dolor sit amet, consecteur adipiscing elit</p>

    <div class="row">
        <div class="testimonial-col">
            <img src="{{ url_for('static', filename='images/img_two.jpg') }}
" alt="lady holding calender">
            <div>
                <p>I love how simple and intuitive the app is. It helps me stay organized and on top of everything,
                    from my work projects
                    to personal tasks. The task breakdown feature is a game-changer!</p>
                <h3>David L., Freelance Designer</h3>
                <i class="fa fa-star" style="color: #63E6BE;"></i>
                <i class="fa fa-star" style="color: #63E6BE;"></i>
                <i class="fa fa-star" style="color: #63E6BE;"></i>
                <i class="fa fa-star" style="color: #63E6BE;"></i>
                <i class="fa fa-star-half" style="color: #63E6BE;"></i>
            </div>
        </div>

        <div class="testimonial-col">
            <img src="{{ url_for('static', filename='images/img_one.jpg') }}" alt="lady holding calender">
            <div>
                <p>This app has completely transformed how I manage my daily tasks. I no longer feel overwhelmed!
                    The reminder feature
                    ensures I never forget an important deadline. It's like having a personal assistant in my
                    pocket.</p>
                <h3>Sarah A., Marketing Manager</h3>
                <i class="fa-solid fa-star" style="color: #63E6BE;"></i>
                <i class="fa-solid fa-star" style="color: #63E6BE;"></i>
                <i class="fa-solid fa-star" style="color: #63E6BE;"></i>
                <i class="fa-solid fa-star" style="color: #63E6BE;"></i>
                <i class="fa-sharp fa-solid fa-star-half-stroke" style="color: #63E6BE;"></i>
            </div>
        </div>
    </div>

</section>


<!-- Call to Action -->
<section class="cta">
    <div class="cta-item">
        <h1>Our Reach</h1>
        <p>With millions of tasks completed worldwide, todos is making a difference for users everywhere. <br> Be
            part of our growing community that values productivity and success.</p>
        <!-- <a href="" class="hero-btn">CONTACT US</a> -->
    </div>
</section>



<!-- about -->

<section class="about">
    <h4 id="about-us">About Us</h4>
    <p>At Todos, we are passionate about helping you stay organized and productive. Our team
        is dedicated to creating a user-friendly tool that simplifies task management and enhances productivity.
        Whether you are
        a busy professional, a student juggling multiple projects, or anyone looking to stay on top of your tasks,
        Todos is
        designed with you in mind.</p>
    <a class="hero-btn" href="#">LEARN MORE ABOUT US</a>
</section>

<!-- video section -->

<section class="video" id="demo" style="width: 50%; margin: 0 auto; text-align: center;">
    <h1 class="video-heading">
        See How It Works <br>
        <br>
    </h1>
    <div class="video-content">
        <iframe width="860" height="415" src="https://www.youtube.com/embed/mg_ii2IxLpY?si=RYx0JbhVXBENk1-s"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>

        </iframe>
    </div>
</section>

<section class="contact">
    <h4>Meet The Team Members</h4>
    <div class="row">
        <div class="col">
            <span class="arrow"></span>
            <img src="{{ url_for('static', filename='images/img_one.jpg') }}" alt="">
        </div>
        <div class="col">
            <h3>George Avong</h3>
            <p>Backend Developer</p>
            <div class="social-link">
                <a href="mailto:your-email@example.com"><i class="fa-solid fa-envelope fa-2xl"></i></a>
                <a href="https://github.com/avonggeorge" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a>
                <a href="https://linkedin.com/in/yourprofile" target="_blank"><i
                        class="fa-brands fa-linkedin fa-2xl"></i></a>
                <a href="tel:+1234567890"><i class="fa-solid fa-phone fa-2xl"></i></a>
                <a href="https://twitter.com/yourprofile" target="_blank"><i
                        class="fa-brands fa-square-x-twitter fa-2xl"></i></a>
            </div>
        </div>
        <div class="col">
            <span class="arrow"></span>
            <img src="{{ url_for('static', filename='images/img_two.jpg') }}" alt="">
        </div>
        <div class="col">
            <h3>Onyinyechi Ikediego</h3>
            <p>Frontend Developer</p>
            <div class="social-link">
                <a href="mailto:onyinyechiikediego@gmail.com"><i class="fa-solid fa-envelope fa-2xl"></i></a>
                <a href="https://github.com/Etta-Diego/" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a>
                <a href="tel:+2347030743629"><i class="fa-solid fa-phone fa-2xl"></i></a>
                <a href="https://twitter.com/yourprofile" target="_blank"><i
                        class="fa-brands fa-square-x-twitter fa-2xl"></i></a>
            </div>
        </div>
    </div>
    <p>For questions and enquiries, fill out the contact form <a href="#" target="_blank" class="contact-link">
            here</a></p>
</section>



{% endblock %}

<!-- {% block script %} -->
<!-- <script>
    // Toggle Menu JavaScript logic
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>
{% endblock %} -->