 header {
    background: rgb(75, 63, 14) url(/task_management/task_manager/static/images/todo-list-icon-notepad.png);
    background-repeat: no-repeat;
    background-size: 70px;
    height: 70px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

}

 
/* Style the navicon section */
.navicon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navicon nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.navicon nav ul li {
    align-content: center;
    margin-right: 35px;
    justify-items: center;
}

.navicon ul li a {
    text-decoration: none;
    color: rgb(210, 204, 195);
    font-size: 18px;
}

.navicon ul li a:hover {
    color: rgb(27, 27, 26);
}


/* Style the register section */
.register nav ul {
    display: flex;
}

.register nav ul li {
    display: inline;
    gap: 20px;
    margin-right: 40px;
    align-items: right;
}

.register nav ul li a {
    text-decoration: none;
    color: rgb(237, 234, 228);
    font-size: 18px;
}

.register nav ul li a:hover {
    color: rgb(34, 30, 21);
}